{
    "apiKey": "",
    "secretKey": "",
    "subAccount": "",
    "myName": "",
    "ding": "https://oapi.dingtalk.com/robot/send?access_token=a30203d76447b08a0b6629e5dd66759e05e5c9dfb4db5ad7df938a62f9fc0852"
}